// Utils
@import "utils/formatText";
@import "utils/forms";
@import "utils/btn";


// Components
@import "components/card";

@import "grid";

* {
  box-sizing: border-box;
}

html, body {
  font-size:16px;
}

body {
  background-color:#F8F9FD;
}

/**
 * Partials
 **/
@import "partials/authentification";