.form-group label {
  display:block;
  padding:8px 0;
}

.form__input-feedback {
  margin: 0;
  font-size: .7em;
  font-weight:600;
  display:block;
}

.form__input-feedback span:first-child {
  padding-bottom:0;
}

.form__input-feedback span {
  display:block;
  padding:4px 0;
}

.form-control {
  width:100%;
  padding:8px;
}