.page-auth {
  display:flex;
  width:100%;
  height:100vh;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.page-auth .wrapper {
  width:100%;
  max-width:400px;
}

.page-auth .wrapper .card-auth {
  width:100%;
  max-width:400px;
}

.page-auth .card h1 {
  color:#1D2D4B;
  font-size:1.1em;
}

.page-auth .card a {
  display:block;
  padding-top:8px;
  color: #2c4570;
  transition:color .3s;
  text-decoration: none;
}

.page-auth .card a:hover {
  color:#1D2D4B;
}